@import 'vars'; /*переменные для цвета, шрифтов...*/
@import 'fonts'; /*шрифты*/
@import 'reset'; /*reset*/
@import 'global'; /*что написать на body, что всем ссылкам указать...*/


.header{
padding: 50px 0 55px;
&__inner{
display: flex;
justify-content: space-between;
align-items: center;
}
}

.menu{
    &__list{
        display: flex;
        .menu__list-item:nth-child(1){
            margin-left: 50px;
        }
    }
    
    &__list-item + .menu__list-item{
        margin-left: 33px;
    }
    &__list-link{
        font-size: 15px;
        line-height: 12px;
        color: #436372;
        @extend %rubik-500;   
    }

}

.user-nav{
display: flex;
&__item + .user-nav__item{
    margin-left: 80px;
}
&__box{
    display: flex;
}

&__link{
    position: relative;
}

&__link--box1{
    margin-right: 30px;    
}
&__link--box2{
    margin-left: 30px; 
}

&__num{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    color: #243f4d;
    border-radius: 50%;
    top: -7px;
    right: -10px;
    text-align: center;
    line-height: 16px;
    font-size: 10px;
    @extend %dmsans-400;
    
}

&__item:nth-child(1){
    position: relative;
    &::before{
    content: '';
    position: absolute;
    width: 51px;
    height: 51px;
    background-image: url(../images/icons/search-icon-bg.svg);
    bottom: -13px;
    left: -17px;
    z-index: -1;
    }
}
&__item:nth-child(2){
    position: relative;
    &::before{
    content: '';
    position: absolute;
    width: 178px;
    height: 51px;
    background-image: url(../images/icons/heart-icon-bg.svg);
    bottom: -13px;
    left: -40px;
    z-index: -1;
    }
}
&__item:nth-child(3){
    position: relative;
    margin-right: 17px;
    &::before{
    content: '';
    position: absolute;
    width: 51px;
    height: 51px;
    background-image: url(../images/icons/dots-icon-bg.svg);
    bottom: -13px;
    left: -15px;
    z-index: -1;
    }
}
}



.footer-container{
max-width: 1200px;
margin: 0 auto;
padding: 0 15px;
}

.footer-top{
 padding: 80px 0 70px;
 display: flex;
border-bottom: 1px solid #dae4e9;
 &__contact{
    width: 200px;
    margin-right: 100px;
 }
 &__nav{
    width: 170px;
    margin-right: 130px;
}
&__form{
    width: 270px;
}

&__logo{
    margin-bottom: 27px;
    display: block;
}

&__address{
    font-size: 14px;
    line-height: 21px;
    @extend %rubik-400;
    color: #7b7b7b;
    display: block;
    margin-bottom: 10px;
}

&__phone{
    font-size: 14px;    
    line-height: 21px;
    @extend %rubik-400;
    color: #7b7b7b;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;   
}

&__email{
    font-size: 14px;
    line-height: 21px;
    @extend %rubik-400;
    color: #7b7b7b;
    display: block;
}

&__title{
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    color: #1f2044;
    margin-bottom: 25px;
    text-transform: uppercase;
}

&__link{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
    @extend %rubik-400;
    color: #7b7b7b;
    display: block;
}

&__text{
    font-size: 14px;
    line-height: 21px;
    color: #7b7b7b;
    display: block;
    @extend %rubik-400;
    margin-bottom: 35px;
}

&__input{
    margin-right: -4px;
    max-width: 170px;
    width: 100%;
    border: none;
    background-color: #fef7f0;
    padding: 13px 10px 13px 16px;
    @extend %dmsans-400;
    &::placeholder{
        color: #234969;
        @extend %dmsans-400;
        font-size: 12px;
    }
}

&__btn{
   @extend %btn; 
}
}

.footer-bottom{
display: flex;
justify-content: space-between;
padding: 35px 0 40px;
&__copy,
&__nav{
font-size: 14px;
// line-height: 21px;
@extend %rubik-400;
color: #7b7b7b;
}


&__nav-item{
    display: inline;
}

&__nav-link{
    color: #7b7b7b;
    margin-right: 14px;
    padding-left: 14px;
    border-left: 1px solid #7b7b7b;
}

&__nav-link--first{
    padding: 0;
    border: 0;
}   

}



















@import 'media'; /*media запросы*/