@import 'vars'; /*переменные для цвета, шрифтов...*/
@import 'fonts'; /*шрифты*/
@import 'reset'; /*reset*/
@import 'libs'; 
@import 'global'; /*что написать на body, что всем ссылкам указать...*/


.header{
padding: 50px 0 55px;
&__inner{
display: flex;
justify-content: space-between;
align-items: center;
}
}

.menu{
    &__list{
        display: flex;
        .menu__list-item:nth-child(1){
            margin-left: 50px;
        }
    }
    
    &__list-item + .menu__list-item{
        margin-left: 33px;
    }
    &__list-link{
        font-size: 15px;
        line-height: 12px;
        color: #436372;
        @extend %rubik-500;   
    }

}

.user-nav{
display: flex;
&__item + .user-nav__item{
    margin-left: 80px;
}
&__box{
    display: flex;
}

&__link{
    position: relative;
}

&__link--box1{
    margin-right: 30px;    
}
&__link--box2{
    margin-left: 30px; 
}

&__num{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    color: #243f4d;
    border-radius: 50%;
    top: -7px;
    right: -10px;
    text-align: center;
    line-height: 16px;
    font-size: 10px;
    @extend %dmsans-400;
    
}

&__item:nth-child(1){
    position: relative;
    &::before{
    content: '';
    position: absolute;
    width: 51px;
    height: 51px;
    background-image: url(../images/icons/search-icon-bg.svg);
    bottom: -13px;
    left: -17px;
    z-index: -1;
    }
}
&__item:nth-child(2){
    position: relative;
    &::before{
    content: '';
    position: absolute;
    width: 178px;
    height: 51px;
    background-image: url(../images/icons/heart-icon-bg.svg);
    bottom: -13px;
    left: -40px;
    z-index: -1;
    }
}
&__item:nth-child(3){
    position: relative;
    margin-right: 17px;
    &::before{
    content: '';
    position: absolute;
    width: 51px;
    height: 51px;
    background-image: url(../images/icons/dots-icon-bg.svg);
    bottom: -13px;
    left: -15px;
    z-index: -1;
    }
}
}

.footer-top{
 padding: 80px 0 70px;
 display: flex;
border-bottom: 1px solid #dae4e9;
 &__contact{
    width: 200px;
    margin-right: 100px;
    margin-top: -15px;
 }
 &__nav{
    width: 170px;
    margin-right: 130px;
}
&__form{
    width: 270px;
}

&__logo{
    margin-bottom: 17px;
    display: block;
}

&__address{
    font-size: 14px;
    line-height: 21px;
    @extend %rubik-400;
    color: #7b7b7b;
    display: block;
    margin-bottom: 10px;
}

&__phone{
    font-size: 14px;    
    line-height: 21px;
    @extend %rubik-400;
    color: #7b7b7b;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;   
}

&__email{
    font-size: 14px;
    line-height: 21px;
    @extend %rubik-400;
    color: #7b7b7b;
    display: block;
}

&__title{
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    color: #1f2044;
    margin-bottom: 15px;
    text-transform: uppercase;
}

&__link{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
    @extend %rubik-400;
    color: #7b7b7b;
    display: block;
}

&__text{
    font-size: 14px;
    line-height: 21px;
    color: #7b7b7b;
    display: block;
    @extend %rubik-400;
    margin-bottom: 35px;
}

&__input{
    margin-right: -4px;
    max-width: 170px;
    width: 100%;
    border: none;
    background-color: #fef7f0;
    padding: 13px 10px 13px 16px;
    @extend %dmsans-400;
    &::placeholder{
        color: #234969;
        @extend %dmsans-400;
        font-size: 12px;
    }
}

&__btn{
   @extend %btn; 
}
}

.footer-bottom{
display: flex;
justify-content: space-between;
padding: 35px 0 40px;
&__copy,
&__nav{
font-size: 14px;
// line-height: 21px;
@extend %rubik-400;
color: #7b7b7b;
}


&__nav-item{
    display: inline;
}

&__nav-link{
    color: #7b7b7b;
    margin-right: 14px;
    padding-left: 14px;
    border-left: 1px solid #7b7b7b;
}

&__nav-link--first{
    padding: 0;
    border: 0;
}   
}


.top-slider{
&__inner{
    padding: 100px 0 45px;
    background-color: #fcd7b6;
}
&__item{
    display: flex !important;
    justify-content: space-between;
}

&__content{
    padding-top: 125px;
    padding-left: 300px;
}

&__img{
    padding-right: 185px;
}

&__title{
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    @extend %rubik-500;
    margin-bottom: 45px;
}

&__text{
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    @extend %rubik-400;
    max-width: 370px;
    margin-bottom: 45px;
}

&__link{
    @extend %arrowbtn;
}


.slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 13px;
    li{
        padding: 0 5px;
        // line-height: 0;
    button{
        cursor: pointer;
        width: 30px;
        height: 30px;
        font-size: 11px;
        @extend %rubik-500;
        color: #243f4d;
        background-color: #fde3cc; 
        border: none;
        border-radius: 50%;
    }
    &.slick-active{
        button{
            background-color: #fff;
        }
    }
}
}

.info{
background-color: #fef7f0;
display: flex;
// justify-content: space-around;
&__item{
    padding: 47px 0;
border-right: 1px solid #e8e4df; 
margin-left: 148px;
padding-right: 152px;
} 

&__item:nth-child(1){
padding-left: 76px;
position: relative;
&::before{
content: '';
position: absolute;
width: 51px;
height: 53px;
background-image: url(../images/icons/24.svg);
left: 0;
top: 52px;
}

}

&__item:nth-child(2){
padding-top: 58px;
padding-left: 80px;
position: relative;
&::before{
content: '';
position: absolute;
width: 54px;
height: 36px;
background-image: url(../images/icons/car.svg);
left: 0;
top: 63px;
}
}

&__item:nth-child(3){
padding-left: 89px;
position: relative;
border-right: none;
&::before{
content: '';
position: absolute;
width: 54px;
height: 52px;
background-image: url(../images/icons/card.svg);
left: 0;
top: 52px;
}

}

&__item-title{
    font-size: 18px;
    color: #414141;
    @extend %dmsans-700;
    margin-bottom: 8px;
}

&__item-text{
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
    color: #585858;
}
}
}


.product{
padding: 75px 0 86px;
text-align: center;
&__title{
    // text-align: center;
    color: #191919;
    @extend %dmsans-700;
    font-size: 36px;
    margin-bottom: 38px;
}

&__filter-btn{
// text-align: center;
margin-bottom: 80px;
// display: flex;
// justify-content: center;
}

.mixitup-control-active{
    color: #191919;
  }

&__btn{
    border: none;
    background-color: transparent;
    padding: 0;
    color: #8b8b8b;
    font-size: 16px;
    @extend %dmsans-700;
    cursor:pointer;

    & + .product__btn{
    margin-left: 32px;
    }
}

&__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
}
}

.product-item{
        position: relative;
        max-width: 270px;
        width: 100%;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        &:nth-child(1){
            padding: 30px 42px 38px;
            img{
                margin-bottom: 76px;
            }
        }
        &:nth-child(2){
            padding: 33px 61px 38px;
            img{
                margin-bottom: 62px;
            }
        }
        &:nth-child(3){
            padding: 61px 32px 38px;
            img{
                margin-bottom: 78px;
            }
        }
        &:nth-child(4){
            padding: 79px 23px 38px;
            img{
                margin-bottom: 86px;
            }
        }
        &:nth-child(5){
            padding: 53px 17px 38px;
            img{
                margin-bottom: 86px;
            }
        }
        &:nth-child(6){
            padding: 44px 20px 38px;
            img{
                margin-bottom: 87px;
            }
        }
        &:nth-child(7){
            padding: 51px 19px 38px;
            img{
                margin-bottom: 83px;
            }
        }
        &:nth-child(8){
            padding: 58px 16px 38px;
            img{
                margin-bottom: 90px;
            }
        }

&__title{
    font-size: 16px;
    color: #243f4d;
    @extend %dmsans-500;
    margin-bottom: 8px;
}

&__price{
    font-size: 16px;
    color: #a3bbc8;
    @extend %dmsans-700;
}

&__link{
    position: relative;
   svg{
    path{
        fill: #a3bbc8;
    }
   }
    padding-top: 50px;
    & + .product-item__link{
        margin-left: 38px;
    }
    &::before{
        content: '';
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        width: 45px;
        height: 45px;   
        border-radius: 50%;
        z-index: -100;
        top: 32px;
        left: -11px;
    }
    &:hover{
    svg{
        path{
            fill: #fff;
        }
    }
    &::before{
        background-color: #a3bbc8;
    }
    }
}

&__link-box{
    position: absolute;
    transform: translateY(-107px);
    right: 60px;
    display: none;
}

&:hover{
    .product-item__link-box{
        display: block;
    }
}
}


.lamp{
    padding-top: 94px;
&__items{
    position: relative;
    display: flex;
}

&__item{
    background-color: #feefe2;
    max-width: 870px;
    width: 100%;
    height: 390px;
    & + .lamp__item{
        margin-left: 30px;
    }
}

&__img{
    position: absolute;
    top: -94px;
    &--first{
        left: 142px;
    }
    &--second{
        right: 500px;
    }
}

&__info--first{
    margin-left: 388px;
}

&__info--second{
    margin-left: 432px;
}

&__title--first{
    margin-top: 100px;
    margin-bottom: 32px;
}

&__title--second{
    margin-top: 90px;
    max-width: 240px;
    margin-bottom: 25px;
}

&__title{
    font-size: 26px;
    line-height: 32px;
    @extend %dmsans-700;
    color: #243f4d;
}

&__text{
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    color: #243f4d;
    margin-bottom: 37px;
}

&__text--first{
    max-width: 332px;
}

&__link{
    @extend %arrowbtntr;
}
}

.design{
    padding: 105px 0 120px;
    text-align: center;
    &__title{
    font-size: 36px;
    @extend %dmsans-700;
    color: #191919;
    margin-bottom: 30px;
    }
    &__filter-btn{
     margin-bottom: 80px;
    }
    .mixitup-control-active{
        color: #191919;
    }
    &__btn{
    border: none;
    background-color: transparent;
    padding: 0;
    color: #8b8b8b;
    font-size: 16px;
    @extend %dmsans-700;
    cursor:pointer;
    & + .design__btn{
    margin-left: 32px;
    }
    }

&__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
}
}

.design-item{
    min-height: 246px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: left;
    padding-left: 38px;
    padding-top: 40px;
&__title{
    font-size: 20px;
    @extend %dmsans-700;
    color: #191919;
    margin-bottom: 6px;
    max-width: 172px;
}

&__subtitle{
    font-size: 16px;
    color: #a3bbc8;
    @extend %dmsans-700;
}
}

.video-popup{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insights{
padding: 120px 0 304px;

&__inner{
    position: relative;
}
&__box{
    display: flex;
    justify-content: space-between;
    // text-align: center;
} 
&__title{
    font-size: 36px;
    @extend %dmsans-700;
    color: #191919;
}
&__text{
    padding-top: 17px; /*хз можно ли так*/
    font-size: 16px;
    @extend %dmsans-700;
    color: #262626;
    padding-right: 25px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 6px;
        height: 11px;
        right: 0;
        top: 22px;
        background-image: url('../images/insights/arrow-right.svg');
    }
}

&__items{
    display: flex;
    position: absolute;
    transform: translateY(54px);
}
}

.insights-item{
position: relative;
&::after{
    content: '';
    position: absolute;
    width: 103px;
    height: 30px;
    background-image: url(../images/insights/news.png);
    left: 28px;
    top: 233px;
}
max-width: 370px;
width: 100%;
& + .insights-item{
    margin-left: 30px;
}

&__img-link{
    // display: block;
    // margin-bottom: 36px;
}

&__img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

&__text-box{
    padding: 36px 27px 27px 28px;
    background-color: #fff;
}

&__text{
    font-size: 18px;
    @extend %dmsans-500;
    color: #262626;
    padding-bottom: 18px;
    padding-left: 3px;
    border-bottom: 1px solid #e0e0e0; 
    margin-bottom: 22px;
    
}
&__text--third{
    padding-bottom: 41px;
}

&__info-box{
display: flex;
padding-left: 7px;
}

&__date{
    margin-right: 31px;
    font-size: 12px;
    @extend %rubik-400;
    color: #222933;
    text-transform: uppercase;
    padding-left: 18px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        background-image: url(../images/insights/calendar.svg);
        left: 0;
    }
}


&__author{
    font-size: 12px;
    @extend %rubik-400;
    color: #222933;
    text-transform: uppercase;
    padding-left: 18px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        background-image: url(../images/insights/user-blog.svg);
        left: 0;
    }
}


}
    
.partners{
background-color: #fcf5ee;
padding: 264px 0 89px; 
&__list{
    display: flex;
    justify-content: center;
    align-items: center;
}

&__item{
    & + .partners__item{
        margin-left: 100px;
    }
}

}























@import 'media'; /*media запросы*/