@import 'vars'; /*переменные для цвета, шрифтов...*/
@import 'fonts'; /*шрифты*/
@import 'reset'; /*reset*/
@import 'libs'; 
@import 'global'; /*что написать на body, что всем ссылкам указать...*/


.header{
padding: 50px 0 55px;
&__inner{
display: flex;
justify-content: space-between;
align-items: center;
}
}

.menu{
    &__list{
        display: flex;
        .menu__list-item:nth-child(1){
            margin-left: 50px;
        }
    }
    
    &__list-item + .menu__list-item{
        margin-left: 33px;
    }
    &__list-link{
        font-size: 15px;
        line-height: 12px;
        color: #436372;
        @extend %rubik-500;   
    }

}

.user-nav{
display: flex;
&__item + .user-nav__item{
    margin-left: 80px;
}
&__box{
    display: flex;
}

&__link{
    position: relative;
}

&__link--box1{
    margin-right: 30px;    
}
&__link--box2{
    margin-left: 30px; 
}

&__num{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    color: #243f4d;
    border-radius: 50%;
    top: -7px;
    right: -10px;
    text-align: center;
    line-height: 16px;
    font-size: 10px;
    @extend %dmsans-400;
    
}

&__item:nth-child(1){
    position: relative;
    &::before{
    content: '';
    position: absolute;
    width: 51px;
    height: 51px;
    background-image: url(../images/icons/search-icon-bg.svg);
    bottom: -13px;
    left: -17px;
    z-index: -1;
    }
}
&__item:nth-child(2){
    position: relative;
    &::before{
    content: '';
    position: absolute;
    width: 178px;
    height: 51px;
    background-image: url(../images/icons/heart-icon-bg.svg);
    bottom: -13px;
    left: -40px;
    z-index: -1;
    }
}
&__item:nth-child(3){
    position: relative;
    margin-right: 17px;
    &::before{
    content: '';
    position: absolute;
    width: 51px;
    height: 51px;
    background-image: url(../images/icons/dots-icon-bg.svg);
    bottom: -13px;
    left: -15px;
    z-index: -1;
    }
}
}

.footer-top{
 padding: 80px 0 70px;
 display: flex;
border-bottom: 1px solid #dae4e9;
 &__contact{
    width: 200px;
    margin-right: 100px;
    margin-top: -15px;
 }
 &__nav{
    width: 170px;
    margin-right: 130px;
}
&__form{
    width: 270px;
}

&__logo{
    margin-bottom: 17px;
    display: block;
}

&__address{
    font-size: 14px;
    line-height: 21px;
    @extend %rubik-400;
    color: #7b7b7b;
    display: block;
    margin-bottom: 10px;
}

&__phone{
    font-size: 14px;    
    line-height: 21px;
    @extend %rubik-400;
    color: #7b7b7b;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;   
}

&__email{
    font-size: 14px;
    line-height: 21px;
    @extend %rubik-400;
    color: #7b7b7b;
    display: block;
}

&__title{
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    color: #1f2044;
    margin-bottom: 15px;
    text-transform: uppercase;
}

&__link{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
    @extend %rubik-400;
    color: #7b7b7b;
    display: block;
}

&__text{
    font-size: 14px;
    line-height: 21px;
    color: #7b7b7b;
    display: block;
    @extend %rubik-400;
    margin-bottom: 35px;
}

&__input{
    margin-right: -4px;
    max-width: 170px;
    width: 100%;
    border: none;
    background-color: #fef7f0;
    padding: 13px 10px 13px 16px;
    @extend %dmsans-400;
    &::placeholder{
        color: #234969;
        @extend %dmsans-400;
        font-size: 12px;
    }
}

&__btn{
   @extend %btn; 
}
}

.footer-bottom{
display: flex;
justify-content: space-between;
padding: 35px 0 40px;
&__copy,
&__nav{
font-size: 14px;
// line-height: 21px;
@extend %rubik-400;
color: #7b7b7b;
}


&__nav-item{
    display: inline;
}

&__nav-link{
    color: #7b7b7b;
    margin-right: 14px;
    padding-left: 14px;
    border-left: 1px solid #7b7b7b;
}

&__nav-link--first{
    padding: 0;
    border: 0;
}   
}

.top{
    background-color: #edf1f4;
    text-align: center;
    padding: 30px 0 30px;
    &__title{
    font-size: 36px;
    // line-height: 24px;
    @extend %rubik-300;
    color: #222933;
    margin-bottom: 6px;
   } 
}



.top-slider{
&__inner{
    padding: 100px 0 45px;
    background-color: #fcd7b6;
}
&__item{
    display: flex !important;
    justify-content: space-between;
}

&__content{
    padding-top: 125px;
    padding-left: 300px;
}

&__img{
    padding-right: 185px;
}

&__title{
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    @extend %rubik-500;
    margin-bottom: 45px;
}

&__text{
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    @extend %rubik-400;
    max-width: 370px;
    margin-bottom: 45px;
}

&__link{
    @extend %arrowbtn;
}


.slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 13px;
    li{
        padding: 0 5px;
        // line-height: 0;
    button{
        cursor: pointer;
        width: 30px;
        height: 30px;
        font-size: 11px;
        @extend %rubik-500;
        color: #243f4d;
        background-color: #fde3cc; 
        border: none;
        border-radius: 50%;
    }
    &.slick-active{
        button{
            background-color: #fff;
        }
    }
}
}

.info{
background-color: #fef7f0;
display: flex;
// justify-content: space-around;
&__item{
    padding: 47px 0;
border-right: 1px solid #e8e4df; 
margin-left: 148px;
padding-right: 152px;
} 

&__item:nth-child(1){
padding-left: 76px;
position: relative;
&::before{
content: '';
position: absolute;
width: 51px;
height: 53px;
background-image: url(../images/icons/24.svg);
left: 0;
top: 52px;
}

}

&__item:nth-child(2){
padding-top: 58px;
padding-left: 80px;
position: relative;
&::before{
content: '';
position: absolute;
width: 54px;
height: 36px;
background-image: url(../images/icons/car.svg);
left: 0;
top: 63px;
}
}

&__item:nth-child(3){
padding-left: 89px;
position: relative;
border-right: none;
&::before{
content: '';
position: absolute;
width: 54px;
height: 52px;
background-image: url(../images/icons/card.svg);
left: 0;
top: 52px;
}

}

&__item-title{
    font-size: 18px;
    color: #414141;
    @extend %dmsans-700;
    margin-bottom: 8px;
}

&__item-text{
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
    color: #585858;
}
}
}


.product{
padding: 75px 0 86px;
text-align: center;
&__title{
    // text-align: center;
    color: #191919;
    @extend %dmsans-700;
    font-size: 36px;
    margin-bottom: 38px;
}

&__filter-btn{
// text-align: center;
margin-bottom: 80px;
// display: flex;
// justify-content: center;
}

.mixitup-control-active{
    color: #191919;
  }

&__btn{
    border: none;
    background-color: transparent;
    padding: 0;
    color: #8b8b8b;
    font-size: 16px;
    @extend %dmsans-700;
    cursor:pointer;

    & + .product__btn{
    margin-left: 32px;
    }
}

&__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
}
}

.product-item{
        position: relative;
        max-width: 270px;
        width: 100%;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        &:nth-child(1){
            padding: 30px 42px 38px;
            img{
                margin-bottom: 76px;
            }
        }
        &:nth-child(2){
            padding: 33px 61px 38px;
            img{
                margin-bottom: 62px;
            }
        }
        &:nth-child(3){
            padding: 61px 32px 38px;
            img{
                margin-bottom: 78px;
            }
        }
        &:nth-child(4){
            padding: 79px 23px 38px;
            img{
                margin-bottom: 86px;
            }
        }
        &:nth-child(5){
            padding: 53px 17px 38px;
            img{
                margin-bottom: 86px;
            }
        }
        &:nth-child(6){
            padding: 44px 20px 38px;
            img{
                margin-bottom: 87px;
            }
        }
        &:nth-child(7){
            padding: 51px 19px 38px;
            img{
                margin-bottom: 83px;
            }
        }
        &:nth-child(8){
            padding: 58px 16px 38px;
            img{
                margin-bottom: 90px;
            }
        }

&__title{
    font-size: 16px;
    color: #243f4d;
    @extend %dmsans-500;
    margin-bottom: 8px;
}

&__price{
    font-size: 16px;
    color: #a3bbc8;
    @extend %dmsans-700;
}

&__link{
    position: relative;
   svg{
    path{
        fill: #a3bbc8;
    }
   }
    padding-top: 50px;
    & + .product-item__link{
        margin-left: 38px;
    }
    &::before{
        content: '';
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        width: 45px;
        height: 45px;   
        border-radius: 50%;
        z-index: -100;
        top: 32px;
        left: -11px;
    }
    &:hover{
    svg{
        path{
            fill: #fff;
        }
    }
    &::before{
        background-color: #a3bbc8;
    }
    }
}

&__link-box{
    position: absolute;
    transform: translateY(-107px);
    right: 60px;
    display: none;
}

&:hover{
    .product-item__link-box{
        display: block;
    }
}
}


.lamp{
    padding-top: 94px;
&__items{
    position: relative;
    display: flex;
}

&__item{
    background-color: #feefe2;
    max-width: 870px;
    width: 100%;
    height: 390px;
    & + .lamp__item{
        margin-left: 30px;
    }
}

&__img{
    position: absolute;
    top: -94px;
    &--first{
        left: 142px;
    }
    &--second{
        right: 500px;
    }
}

&__info--first{
    margin-left: 388px;
}

&__info--second{
    margin-left: 432px;
}

&__title--first{
    margin-top: 100px;
    margin-bottom: 32px;
}

&__title--second{
    margin-top: 90px;
    max-width: 240px;
    margin-bottom: 25px;
}

&__title{
    font-size: 26px;
    line-height: 32px;
    @extend %dmsans-700;
    color: #243f4d;
}

&__text{
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    color: #243f4d;
    margin-bottom: 37px;
}

&__text--first{
    max-width: 332px;
}

&__link{
    @extend %arrowbtntr;
}
}

.design{
    padding: 105px 0 120px;
    text-align: center;
    &__title{
    font-size: 36px;
    @extend %dmsans-700;
    color: #191919;
    margin-bottom: 30px;
    }
    &__filter-btn{
     margin-bottom: 80px;
    }
    .mixitup-control-active{
        color: #191919;
    }
    &__btn{
    border: none;
    background-color: transparent;
    padding: 0;
    color: #8b8b8b;
    font-size: 16px;
    @extend %dmsans-700;
    cursor:pointer;
    & + .design__btn{
    margin-left: 32px;
    }
    }

&__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
}
}

.design-item{
    min-height: 246px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: left;
    padding-left: 38px;
    padding-top: 40px;
&__title{
    font-size: 20px;
    @extend %dmsans-700;
    color: #191919;
    margin-bottom: 6px;
    max-width: 172px;
}

&__subtitle{
    font-size: 16px;
    color: #a3bbc8;
    @extend %dmsans-700;
}
}

.video-popup{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insights{
padding: 120px 0 304px;

&__inner{
    position: relative;
}
&__box{
    display: flex;
    justify-content: space-between;
    // text-align: center;
} 
&__title{
    font-size: 36px;
    @extend %dmsans-700;
    color: #191919;
}
&__text{
    padding-top: 17px; /*хз можно ли так*/
    font-size: 16px;
    @extend %dmsans-700;
    color: #262626;
    padding-right: 25px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 6px;
        height: 11px;
        right: 0;
        top: 22px;
        background-image: url('../images/insights/arrow-right.svg');
    }
}

&__items{
    display: flex;
    position: absolute;
    transform: translateY(54px);
}
}

.insights-item{
position: relative;
&::after{
    content: '';
    position: absolute;
    width: 103px;
    height: 30px;
    background-image: url(../images/insights/news.png);
    left: 28px;
    top: 233px;
}
max-width: 370px;
width: 100%;
& + .insights-item{
    margin-left: 30px;
}

&__img-link{
    // display: block;
    // margin-bottom: 36px;
}

&__img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

&__text-box{
    padding: 36px 27px 27px 28px;
    background-color: #fff;
}

&__text{
    font-size: 18px;
    @extend %dmsans-500;
    color: #262626;
    padding-bottom: 18px;
    padding-left: 3px;
    border-bottom: 1px solid #e0e0e0; 
    margin-bottom: 22px;
    
}
&__text--third{
    padding-bottom: 41px;
}

&__info-box{
display: flex;
padding-left: 7px;
}

&__date{
    margin-right: 31px;
    font-size: 12px;
    @extend %rubik-400;
    color: #222933;
    text-transform: uppercase;
    padding-left: 18px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        background-image: url(../images/insights/calendar.svg);
        left: 0;
    }
}


&__author{
    font-size: 12px;
    @extend %rubik-400;
    color: #222933;
    text-transform: uppercase;
    padding-left: 18px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        background-image: url(../images/insights/user-blog.svg);
        left: 0;
    }
}


}
    
.partners{
background-color: #fcf5ee;
padding: 264px 0 89px; 
&__list{
    display: flex;
    justify-content: center;
    align-items: center;
}

&__item{
    & + .partners__item{
        margin-left: 100px;
    }
}

}


.mission{
padding: 120px 0 120px;
&__inner{
    display: flex;
}
&__img{
    padding-right: 48px;
    height: 676px;
}
&__wrapper{
    padding-top: 84px;
}

&__info-box{
    display: flex;
    margin-bottom: 54px;
}

&__twelve{
    font-size: 140px;
    line-height: 102px;
    @extend %rubik-700;
    color: #a3bbc8;
    margin-right: 25px;
}

&__info-words{
    padding-top: 26px;
}

&__word{
    font-size: 16px;
    margin-bottom: 9px;
    @extend %rubik-400;
    color: #243f4d;
    // line-height: 30px;
}
&__word:last-child{
    margin-bottom: 0;
}

&__title{
    font-size: 36px;
    line-height: 32px;
    @extend %dmsans-700;
    color: #243f4d;
    margin-bottom: 40px;
}

&__text{
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    color: #243f4d;
    padding-bottom: 60px;
    margin-bottom: 38px;
    position: relative;
    &::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 2px;
    background-image: url(../images/mission/line.svg);
    bottom: 0;
    left: 0;
    }
}

&__number-box{
    display: flex;    
}

// &__number-word{
//     font-size: 16px;
//     line-height: 17px;
//     @extend %dmsans-700;
//     color: #4c4c4c;
// }

&__number{
    span{
        margin-top: 3px;
        display: block;
        font-size: 16px;
        line-height: 17px;
        @extend %dmsans-700;
        color: #4c4c4c;
        }
    font-size: 36px;
    line-height: 38px;
    @extend %dmsans-700;
    color: #243f4d;
}

&__number--first{
    span{
        margin-left: 4px;
    }
    padding-left: 57px;
    padding-right: 26px;
    position: relative;
    margin-right: 28px;
    &::before{
        content: '';
        position: absolute;
        width: 36px;
        height: 38px;
        left: 0;
        top: 8px;
        background-image: url(../images/mission/1.svg);
    }
    &::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 80px;
    background-image: url(../images/mission/vertical-line.svg);
    right: 0;
    top: -8px;
    }
}


&__number--second{
    span{
        margin-left: 1px;
    }
    padding-left: 61px;
    padding-right: 35px;
    margin-right: 26px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 43px;
        height: 39px;
        background-image: url(../images/mission/2.svg);
        left: 0;
        top: 7px;
    }
    &::after{
        content: '';
        position: absolute;
        width: 1px;
        height: 80px;
        background-image: url(../images/mission/vertical-line.svg);
        right: 0;
        top: -8px;
        }
}

&__number--third{
    padding-left: 62px;
    position: relative;
    &::before{
        content:'';
        width: 42px;
        height: 40px;
        position: absolute;
        background-image: url(../images/mission/3.svg);
        left: 0;
        top: 6px;
    }
}
}

.characteristics{
    background-color: #fcd7b6;
    padding: 80px 0 72px;
    text-align: center;
    &__img{
     display: inline;   
    }
    &__img--first{
     margin-top: 4px;
        margin-bottom: 16px;
    }
    &__img--second{
     margin-top: 12px;
     margin-bottom: 16px;
    }
    &__img--third{
        margin-bottom: 16px;
    }
    &__img--fourth{
        margin-bottom: 16px;
    }
    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item:nth-child(1){
        margin-right: 124px;
    }
    &__item:nth-child(2){
        margin-right: 144px;
    }
    &__item:nth-child(3){
        margin-right: 145px;
    }
    &__number{
        font-size: 36px;
        line-height: 32px;
        @extend %dmsans-700;
        color: #243f4d;
        margin-bottom: 14px;
    }
    &__subtitle{
        font-size: 18px;
        line-height: 32px;
        @extend %dmsans-700;
        color: #243f4d;
    }
}



.team{
padding: 120px 0 60px;
&__wrapper{
    display: flex;
}
&__info{
    max-width: 305px;
    width: 100%;
    margin-right: 95px;
    margin-top: 5px;
}

&__title{
font-size: 36px;
line-height: 32px;
color: #243f4d;
@extend %dmsans-700;
margin-bottom: 25px;
}

&__text{
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    color: #243f4d;
    margin-bottom: 33px;
}

&__link{
@extend %arrowbtnteam;
}

&__people{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px 30px;
}
}

.team-person{
    position: relative;
    &__box{
        background-color: #fff;
        position: absolute;
        z-index: 1000;
        max-width: 326px;
        width: 100%;
        max-height: 111px;
        height: 100%;
        bottom: -61px;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        display: flex;
        padding-left: 25px;
        padding-right: 21px;
        padding-top: 26px;
        // padding-bottom: 28px;
        justify-content: space-between;
    }
    &__box-name{
    font-size: 22px;
    @extend %dmsans-700;
    color: #436372;
    line-height: 26px;
    margin-bottom: 6px;
    }
    &__box-position{
        font-size: 16px;
        line-height: 30px;
        @extend %rubik-400;
        color: #565872;
    }
    &__box-social{
        margin-top: 11px;
    }

    &__box-link{
        display: inline-block;
        & + .team-person__box-link{
            margin-left: 3px;
        }
    }
}

.terms{
    padding-top: 108px;
    margin-bottom: -15px;
    &__title{
        font-size: 24px;
        line-height: 40px;
        @extend %rubik-500;
        color: #243f4d;
        margin-bottom: 16px;
    }
    &__list-item{
        font-size: 16px;
        line-height: 30px;
        @extend %rubik-400;
        color: #243f4d;
        padding-left: 41px;
        margin-bottom: 19px;
        position: relative;
    }
    &__list-item:nth-child(1){
    &::before{
        content: '01.';
        position: absolute;
        left: 7px;
    }
    }
    &__list-item:nth-child(2){
        &::before{
        content: '02.';
        position: absolute;
        left: 7px;
    }
    }
    &__list-item:nth-child(3){
        &::before{
        content: '03.';
        position: absolute;
        left: 7px;
    }  
    }
    &__list-item:nth-child(4){
        &::before{
        content: '04.';
        position: absolute;
        left: 7px;
    }
    }
    &__list-item:nth-child(5){
        margin-bottom: 0;
        &::before{
        content: '05.';
        position: absolute;
        left: 7px;
    }
    }
    &__title--second{
    margin-top: 59px;
    margin-bottom: 15px;
    }
    &__text--first{
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    color: #243f4d;
    margin-bottom: 54px;
    }

    &__text--second{
        font-size: 16px;
        line-height: 30px;
        @extend %rubik-400;
        color: #243f4d;
    }
    
    &__title--third{
        margin-bottom: 12px;
    }
}


.login{
padding-top: 120px;
max-width: 500px;
margin: 0 auto 120px;

&__label{
    display: block;
    font-size: 14px;
    @extend %rubik-400;
    color: #436372;
    margin-bottom: 25px;
}

&__input{
    @extend %rubik-400;
    font-size: 18px;
    display: block;
    margin-top: 11px;
    max-width: 470px;
    width: 100%;
    height: 58px;
    border: 2px solid #f6f6f6;   
    padding: 0 15px;
}

&__btn{
    display: inline-block;
    background-color: #a3bbc8;
    border: none;
    width: 100%;
    padding: 19px 0 16px;
    color: #fffefe;
    font-size: 18px;
    border: 2px solid #a3bbc8;
    @extend %rubik-500;
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 32px;
    &:hover{
        background-color: #fff;
        color: #243f4d;
        border: 2px solid #a3bbc8;
    }
}

&__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #436372;
    @extend %rubik-400;
    a{
        color: #436372;
    }
    padding-bottom: 27px;
    border-bottom: 2px solid #f6f6f6;
}

&__register{
    display: block;
    text-align: center;
    margin-top: 27px;
    font-size: 14px;
    line-height: 24px;
    @extend %rubik-400;
    color: #436372;
}

&__create{
    display: inline-block;
    border: none;
    width: 100%;
    padding: 19px 0 16px;
    font-size: 18px;
    @extend %rubik-500;
    cursor: pointer;
    background-color: #fff;
    color: #243f4d;
    border: 2px solid #a3bbc8;
    margin-top: 19px;
    &:hover{
        background-color: #a3bbc8;
        color: #fffefe;;
        border: 2px solid #a3bbc8;
    }
}
}


.login-partners{
    background-color: #fef7f0;
    height: 250px;
    &__list{
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item{
        & + .login-partners__item{
            margin-left: 100px;
        }
        // margin: 0 50px;
    }
}


.shop{
padding: 120px 0;
&__inner{
    display: flex;
}
&__filters{
    width: 270px;
    margin-right: 30px;
}
}


.filter{
&__title{
    text-transform: uppercase;
    font-size: 18px;
    @extend %dmsans-700;
    color: #243f4d;
    position: relative;
    padding-right: 55px;
    display: inline-block;
    &::after{
        content: '';
        position: absolute;
        width: 38px;
        height: 2px;
        right: 0;
        top: 10px;
        background-image: url(../images/shop/line-after.svg);
    }
}
}

.filter-category{
    margin-bottom: 50px;
    &__form{
        margin-top: 20px;
    }

    &__label{
        display: block;
        cursor: pointer;
    }
    &__input{
        display: block;
        @extend %checkbox-hidden;
        &:checked + .filter-category__checkbox{
            background-color: #edf1f4;
            border-radius: 4px;
        }
    }
    &__checkbox{
        @extend %rubik-400;
        font-size: 16px;
        color: #243f4d;
        background-color: transparent;
        color: $title;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        padding: 16px 22px 14px 15px;
        // margin-bottom: -15px;
    }
}

.filter-price{
    margin-bottom: 83px;
&__label{
    // display: block;
    //  padding-top: 25px;
    span{
       
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        @extend %rubik-400;
        color: #243f4d;
    }
}
}

.irs--flat .irs-line {
    top: 36px;
    height: 3px;
    background-color: #c2d2db;
    border-radius: 0px;
}

.irs--flat .irs-bar {
    top: 36px;
    height: 4px;
    background-color: #a3bbc8;
}


.irs--flat .irs-min, .irs--flat .irs-max {
    display: none;
}


.irs--flat .irs-handle {
    top: 30px;
    width: 15px;
    height: 15px;
    background-color: #a3bbc8;
}

.irs-from, .irs-to, .irs-single{
    display: none;
}

.irs--flat .irs-handle>i:first-child{
    display: none;
}

.irs--flat{
    height: 66px;
}

.filter-brand{
.filter-category{
    margin-bottom: 45px;
}
.filter-category__span-number{
    color: #b3b3b3;
}
.filter-category__input{
        &:checked + .filter-category__checkbox{
            .filter-category__span-number{
                color: #243f4d;
            }
        }
}
}

.filter-recent{

&__wrapper{
margin-top: 31px;
}

&__item{
    display: flex;
    margin-bottom: 23px;
}
&__item:last-child{
    margin-bottom: 0;
}

&__info{
    margin-left: 18px;
}

&__subtitle{
    font-size: 14px;
    @extend %rubik-400;
    color: #333333;
    line-height: 16px;
    margin-left: 1px;
    margin-top: 3px;
    margin-bottom: 10px;

}

&__price{
    margin-top: 4px;
    display: inline-block;
font-size: 15px;
line-height: 27px;
@extend %rubik-400;
color: #333333;
margin-left: 2px;
}

}

.jq-ry-container{
    padding: 0;
}

.shop-content{
    &__inner-grid{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px 30px;
    }

    &__inner-item{
        display: none;
        &.shop-content__inner-item--active{
            display: grid;
        }
    }

    .product-item:nth-child(9) {
        padding: 30px 42px 38px;
    }
    .product-item:nth-child(10) {
        padding: 33px 61px 38px;
    }
    .product-item:nth-child(11) {
        padding: 61px 32px 38px;
    }
    .product-item:nth-child(12) {
        padding: 79px 23px 38px;
    }
    .product-item:nth-child(9) img {
        margin-bottom: 76px;
    }
    .product-item:nth-child(10) img {
        margin-bottom: 62px;
    }
    .product-item:nth-child(11) img {
        margin-bottom: 78px;
    }
    .product-item:nth-child(12) img {
        margin-bottom: 86px;
    }


&__filter{
    border: 1px solid #ececec;
    padding: 20px 25px 20px 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
     align-items: center;
     width: 870px;
    //  width: 100%;
}

    
&__filter-buttons{
    display: flex;
    align-items: center;
}

&__filter-btn{
    // outline: 1px solid #000;
    padding: 0;
    border: none;
    background-color: transparent;
     margin-left: 15px;
     line-height: 0;
     cursor: pointer;
}

&__filter-item--active{
    path{
        fill: $accent;
    }
}
}



.shop-content__filter-sort{
    border: none;
    margin-right: 10px;
    @extend %rubik-400;
    font-size: 17px;
    // text-align: center;
}
.shop-content__filter-show{
    border: none;
    @extend %rubik-400;
    font-size: 17px;
}

.shop-content__filter-buttons{
    span{
        font-size: 17px;
        @extend %rubik-400;
    }
}


.product-itemlist{
    // max-width: 870px;
    // width: 100%;
    margin-bottom: 40px;
    &__inner{
        display: flex;
    }
    &__img{
        margin-right: 56px;
    }

    &__info{

    }

    &__title{
    font-size: 40px;
    color: #333333;
    @extend %rubik-400;
    margin-top: 84px;
    margin-bottom: 15px;
    }

    &__price{
        font-size: 30px;
        line-height: 45px;
        @extend %rubik-400;
        color: #333333;
        margin-top: 28px;
        margin-left: 4px;
    }

    &__text{
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    color: #243f4d;
    margin-left: 5px;
    max-width: 407px;
    margin-top: 18px;
    margin-bottom: 43px;
    }

    &__box{
        display: flex;
    }
    &__cart--btn{
        width: 208px;
        height: 50px;
        z-index: 10000;
        display: none;
    }
    &__cart{
        // display: block;
        width: 50px;
        height: 50px;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        margin-right: 11px;
        position: relative;
        &::after{
           content: '';
           position: absolute;
           width: 22px;
           height: 20px;
           background-image: url(../images/shop/cart.svg);
           top: 15px;
           left: 14px;
        }
        &:hover{
            // position: relative;
            &::before{
                content: 'ADD TO CART';
                position: absolute;
                z-index: 10000;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                background-color: #a3bbc8;
                width: 208px;
                height: 50px;
                font-size: 15px;
                color: #fff;
                @extend %rubik-400;
            }
        }
    }

    &__heart{
        // display: block;
        width: 50px;
        height: 50px;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        position: relative;
        
        &::after{
           content: '';
           position: absolute;
           width: 22px;
           height: 18px;
           background-image: url(../images/shop/heart.svg);
           top: 16px;
           left: 14px;
        }

        // &::before{
        //     content: '';
        //     transition: all .2s;
        //     position: absolute;
        // }

        &:hover{
            // position: relative;
            &::before{
                left: -61px;
                content: 'ADD TO FAVORITE';
                position: absolute;
                z-index: 10000;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                background-color: #a3bbc8;
                width: 208px;
                height: 50px;
                font-size: 15px;
                color: #fff;
                @extend %rubik-400;
            }
        }
    }


}

.product-itemlist:last-child{
    margin-bottom: 0px;
}

.pagination{
margin-top: 108px;
display: flex;
justify-content: center;

&__items{
    display: flex;
}

&__item{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a3bbc8;
    font-size: 16px;
    color: #243f4d;
    @extend %rubik-400;
    background-color: #fff;

    & + .pagination__item{
        margin-left: 16px;
    }
}

&__item--active,
&__item:hover{
    background-color: #a3bbc8;
    border: 1px solid #a3bbc8; 
    color: #fff;
}

&__item--next{
    width: 74px;
    height: 50px;
}
}


.product-page{
padding: 120px 0;
}

.product-one{
    &__inner{
        display: flex;
    }
    &__slide{
        width: 550px;
        margin-right: 66px;
    }
    &__content{
        width: 554px;
    }
    &__title{
    font-size: 40px;
    color: #333333;
    @extend %rubik-400;
    margin-top: 22px;
    margin-bottom: 15px;
    }
    &__price{
        font-size: 30px;
        @extend %rubik-400;
        color: #333333;
        line-height: 45px;
        margin-top: 29px;
        margin-bottom: 19px;
    }

    &__text{
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    max-width: 551px;
    color: #243f4d;

    }
    &__btn{
    cursor: pointer;
    width: 208px;
    height: 53px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    background-color: #a3bbc8;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 15px;
    @extend %rubik-400;
    margin-left: 72px;
    margin-top: 27px;
    }

    &__info{
        margin-top: 53px;
    }
    &__info-title{
        margin-right: 5px;
    }
    &__info-item{
        display: flex;
        font-size: 16px;
        @extend %rubik-400;
        color: #243f4d;
        margin-bottom: 10px;
        a{
            color: #243f4d;
        }
    }

    &__info-item:last-child{
        margin-bottom: 0px;
    }


}

.product-slide{
    display: flex;
    &__small{
        // float: left;
        width: 138px;
        margin-right: 25px; 
    }
    &__small-item{
        // float: left;
        width: 138px;
        height: 160px;
        margin-bottom: 18px;
        cursor: pointer;
        img{
            width: 138px;
            height: 160px;
            object-fit: cover;
        }
    }
    &__big{
        width: 387px;
        img{
            width: 387px;
            height: 530px;
            // object-fit: cover;
        }
    }
}
.jq-number {
    position: relative;
    vertical-align: middle;
    padding: 0 36px 0 0;
    right: -48px;
    top: -2px;
}

.jq-number__spin:after {
    content: "";
    position: absolute;
    top: 22px;
    left: 19px;
    background-image: url(../images/product-page/plus.png);
    width: 9px;
    height: 8px;
    border: none;
}
.jq-number__spin.minus:after {
    // position: absolute;
    top: 25px;
    left: 21px;
    background-image: url(../images/product-page/minus.png);
    width: 6px;
    height: 1px;
    border: none;
}

.jq-number__spin {
    position: absolute;
    top: 0;
    right: -13px;
    border: 1px solid #a3bbc8;
    // border-bottom: none;
    border-bottom-color: #a3bbc8; 
    border-radius: 4px;
    background: none;
    box-shadow: none;
    border-radius: 0;
    width: 50px;
    height: 53px;
    cursor: pointer;
    border-left: none;
}

.jq-number__spin.minus {
    bottom: 0px;
    right: 86px;
    border-right: none;
    border-left: 1px solid #a3bbc8;
}


.jq-number__field input {
    box-sizing: border-box;
    width: 48px;
    height: 51px;
    // padding: 8px 9px;
    border: none;
    outline: none;
    background: none;
    @extend %rubik-400;
    font-size: 15px;
    color: #333;
    text-align: center;
}

.jq-number__field {
    width: 50px;
    border: 1px solid #a3bbc8;
    border-bottom-color: #a3bbc8;
    border-radius: 0;
    box-shadow: none;
}

.jq-number__spin:hover {
    background: none;
}


.product-tabs{
    margin-top: 77px;
&__top{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

&__top-item{
width: 241px;
height: 53px;
background-color: #edf1f4;
font-size: 18px;
color: #243f4d;
@extend %rubik-500;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;    
transition: all .2s;
& + .product-tabs__top-item{
    margin-left: 13px;
    
}
}

&__top-item--active{
    background-color: #a3bbc8;
    color: #fff;
}

&__top-item:hover{
    background-color: #a3bbc8;
    color: #fff;
}


&__content-item{
    display: none;
    &.product-tabs__content-item--active{
        display: block;
    }
}


}

.description{
    &__text{
        font-size: 16px;
        line-height: 30px;
        @extend %rubik-400;
        color: #243f4d;
    }
}


.related{
    &__title{
        font-size: 36px;
        @extend %dmsans-700;
        color: #243f4d;
        margin-top: -10px;
    }
}

.related-slider{
display: flex;
text-align: center;
margin-top: 68px;
.product-item--1 {
    padding: 30px 42px 38px;
    // border: 1px solid black;
    text-align: center;
    box-shadow: none;
    border: 1px solid #ececec;
}
.product-item--2 {
    padding: 33px 61px 38px;
    text-align: center;
    box-shadow: none;
    border: 1px solid #ececec;
}
.product-item--3 {
    padding: 61px 32px 38px;
    text-align: center;
    box-shadow: none;
    border: 1px solid #ececec;
}
.product-item--4 {
    padding: 79px 23px 38px;
    text-align: center;
    box-shadow: none;
    border: 1px solid #ececec;
}
.product-item--5 {
    padding: 53px 17px 38px;
    text-align: center;
    box-shadow: none;
    border: 1px solid #ececec;
}
.product-item--6 {
    padding: 44px 20px 38px;
    text-align: center;
    box-shadow: none;
    border: 1px solid #ececec;
}
.product-item--7 {
    padding: 51px 19px 38px;
    text-align: center;
    box-shadow: none;
    border: 1px solid #ececec;
}
.product-item--8 {
    padding: 58px 16px 38px;
    text-align: center;
    box-shadow: none;
    border: 1px solid #ececec;
}
.product-item--1 img {
    margin-bottom: 76px;
}
.product-item--2 img {
    margin-bottom: 62px;
}
.product-item--3 img {
    margin-bottom: 78px;
}
.product-item--4 img {
    margin-bottom: 86px;
}
.product-item--5 img {
    margin-bottom: 86px;
}
.product-item--6 img {
    margin-bottom: 87px;
}
.product-item--7 img {
    margin-bottom: 83px;
}
.product-item--8 img {
    margin-bottom: 90px;
}
}


.slick-prev{
    cursor: pointer;
    position: absolute;
    top: -113px;
    right: 81px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #a3bbc8;
    border-radius: 4px;
}

.slick-next{
    cursor: pointer;
        position: absolute;
        right: 11px;
        top: -113px;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: 2px solid #a3bbc8;
        border-radius: 4px;
}

.slick-disabled{
    cursor: auto;
    border-color: #edf1f4;
}



@import 'media'; /*media запросы*/